<!DOCTYPE html>
<html lang="en" ng-app="TimetableApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>SMSBK Scheduler</title>

		<script src="angular/angular.min.js"></script> 
		<script src="angular/angular-sanitize.js"></script> 
		<script src="module/ng-csv.js"></script> 
		<script src="controller/TimetableApp.js"></script>
	
		<!-- Bootstrap Core CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="bootstrap/css/sb-admin.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="TimeTableCont">
		<div class="container-fluid">
			<div class="alert-outer" ng-hide="!alert.show">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<button type="button" class="close" ng-click="alert.show = false"><span aria-hidden="true">&times;</span></button>
					<span ng-bind-html="alert.text"></span>
				</div>
			</div>

		<nav class="navbar navbar-inverse" role="navigation">
			<a class="navbar-brand" href="#">SMSBK Scheduler</a>
			<ul class="nav navbar-left top-nav">
				<li ng-hide="!DataTabel.kelas">
					<a href="#new" ng-click="NewDocument()"><i class="glyphicon glyphicon-file"></i> Buat Baru</a>
				</li>
				<li ng-hide="!DataTabel.kelas">
					<a
						href="#save"
						id="save"
						ng-mouseover="saveFile()"
						><i class="glyphicon glyphicon-save"></i> Simpan</a>
				</li>
				<li ng-hide="!DataTabel.kelas">
					<a href="#exportCSV"
						ng-csv="csvData()"
						filename="smsbk_penjadwalan.csv"
						lazy-load="true"
						csv-header="['Hari', 'Mulai', 'Akhir', 'Jam Ke', 'Kode Ruang', 'Kode Guru', 'Kelas', 'Kode Mata Pelajaran']"><i class="glyphicon glyphicon-list-alt"></i> Export CSV</a>
				</li>
				<li>
					<a href="#import" ng-click="importData()"><i class="glyphicon glyphicon-import"></i> Import Data</a>
					<input type="file" id="importData" read-file="ReadImport($fileContent)" style="display:none"/>
				</li>
				<li ng-hide="!DataTabel.kelas">
					<a href="#tambah_jam" ng-click="TambahJam()"><i class="glyphicon glyphicon-time"></i> Tambah Jam</a>
				</li>
			</ul>
		</nav>
			<!-- Nav tabs -->
			<div class="row">
				<div class="btn-group btn-group-justified"
					ng-show="DataTabel">
					<a
						href="#" class="btn btn-default"
						ng-class="{active : SettingDefault.showMapel}"
						ng-click="ruang_mapel_show('mapel')"
						ng-show="DataTabel.mapel"
						id="mpl">
						Mata Pelajaran
					</a>
					<a 
						href="#"
						class="btn btn-default"
						ng-class="{active : SettingDefault.showRuang}"
						ng-click="ruang_mapel_show('ruang')"
						ng-show="DataTabel.ruang">
						Ruang
					</a>

					<div class="btn-group" ng-repeat="kls in kelasOrder()" ng-class="{open : DataTabel.kelas[kls].expandKelas}">
						<a href="#" class="btn btn-default btn-kelas" ng-class="{active : DataTabel.kelas[kls].show}" ng-click="aktifKelas(DataTabel.kelas, DataTabel.kelas[kls], 'all')">Kelas {{kls}}</a>
						<span class="caret" ng-click="DropdownKelas(DataTabel.kelas[kls])" ng-hide="KelasJurusan(kls) <= 0"></span>
	
						<ul class="dropdown-menu" ng-mouseleave="DataTabel.kelas[kls].expandKelas = false" ng-hide="KelasJurusan(kls) <= 0">
							<li ng-repeat="jurusan in KelasJurusan(kls) | orderBy">
								<a href="#" ng-click="aktifKelas(DataTabel.kelas, DataTabel.kelas[kls], jurusan)">{{jurusan}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3" ng-hide="!SettingDefault.showRuang">
					<div class="ruang-mapel-wrapper" fit-screen>
						<ul class="list-group">
						    <li
						    	class="list-group-item"
						    	ng-repeat="ruang in DataTabel.ruang | orderBy:'kode'"
						    	ng-class="{selected : ruang.selected}"
						    	ng-click="selectedRuang(ruang)">
						    	<span class="glyphicon glyphicon-inbox"></span> 
						    	{{ruang.nama_ruang}}
						    	<span class="badge">
										{{ruang.kode}}
								</span>
						    </li>
						</ul>
					</div>
				</div>
				<div class="col-xs-3" ng-hide="!SettingDefault.showMapel">
					<div class="ruang-mapel-wrapper" fit-screen>
						<input type="search" class="form-control" placeholder="Cari mapel.." ng-model="QMP" style="border-radius:0"/>
						<div
							class="panel panel-default"
							ng-repeat="mp in DataTabel.mapel | orderBy:'kategori_mapel'"
							style="border:none"
							ng-show="tampilkanJurusan(mp.jurusan, mp.kelas)">

							<div class="panel-heading kategori_mapel" ng-show="mp.kategori_mapel && mp.mapel.length > 0">
								{{mp.kategori_mapel}} <span ng-show="mp.jurusan !== 'all'" ng-bind="mp.jurusan"></span>
							</div>
							
							<div class="panel-heading kategori_mapel" ng-show="!mp.kategori_mapel && mp.mapel.length > 0">
								UMUM
							</div>

							<div ng-repeat="data_mapel in mp.mapel | orderBy:'mapel' | filter:QMP">
								<div
									class="list-group-item"
									ng-class="{active : data_mapel.show && lengthGuru(data_mapel.guru) > 0}"
									ng-click="tampilkan(mp.mapel, data_mapel)">
									{{data_mapel.mapel}}
									<span class="badge">
										{{lengthGuru(data_mapel.guru)}}
									</span>
								</div>

								<div
									class="panel-collapse collapse"
									ng-class="{'in' : data_mapel.show && lengthGuru(data_mapel.guru) > 0}">

									<div class="panel-body">
										<div
											ng-repeat="nama in data_mapel.guru"
											class="list-group-item"
											ng-class="{selected : nama.selected}"
											ng-click="selected(data_mapel, $index)"
											ng-show="nama.guru">

											<span class="glyphicon glyphicon-user"></span>
											<span class="badge kguru">{{kodeGuru(nama.guru)}}</span> {{nama.guru}}
											<span
												class="badge kanan"
												style="background-color:{{data_mapel.bgcolor}}">
											{{TotalJamGuru(nama.guru)}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- col-xs-9 -->

				<div class="col-xs-9" id="tabelmapel" ng-class="{full : !SettingDefault.showMapel && !SettingDefault.showRuang}">
					<div class="timetable-wrapper" fit-screen>
						<table 	id="table-schedule" 
								class="table table-striped" 
								ng-repeat="(dataKls, objekKelas) in DataTabel.kelas"
                                ng-hide="!DataTabel.kelas[dataKls].show" >

							<tbody ng-repeat="dataHari in DataTabel.kelas[dataKls].data" ng-hide="dataHari.jadwal.length <= 0" nomer="{{nmr = 0}}">
								<tr class="hari">
									<td
										ng-click="tampilkan(DataTabel.kelas[dataKls].data, dataHari, true)"
										colspan="{{DataTabel.kelas[dataKls].kelas.length + 2}}">
										{{dataHari.hari}}
									</td>
								</tr>
								
								<tr ng-hide="!dataHari.show">
									<th colspan="2"></th>
									<th ng-repeat="kls in DataTabel.kelas[dataKls].kelas" ng-show="tampilkanJurusan(DataTabel.kelas[dataKls].kelas[$index].peminatan, dataKls)">{{kls.kelas}}</th>
								</tr>

								<tr
									ng-repeat="baris in dataHari.jadwal"
									ng-hide="!dataHari.show"
									baris = "{{id = $index}}">

									<td class="jam">
										<a href="#" ng-click="hapusJam(dataHari.hari, id)" class="hapus" title="hapus baris"><span class="glyphicon glyphicon-remove-circle"></span></a> 
										{{jamJadwal(dataHari.jam[id])}}
									</td>
									<td class="jamke">
										{{evStatus(dataHari, id)}}
									</td>

									<td
										ng-click="insert(dataHari, id, $index, dataKls)"
										ng-hapus = "hapus(dataHari, id, $index)"
										ng-repeat="kolom in baris track by $index"
										ng-class="{'disable' : kolom.kegiatan, 'highlight' : match_guru_kelas(DataTabel.kelas[dataKls].kelas[$index].kelas)}"
										style="background:{{kolom.bg_keg}}"
										ng-mouseover="ruanganAktif(DataTabel.kelas[dataKls].kelas[$index].kelas)"
										ng-mousedown="ruanganAktif(DataTabel.kelas[dataKls].kelas[$index].kelas)"
										ng-show="tampilkanJurusan(DataTabel.kelas[dataKls].kelas[$index].peminatan, dataKls)">
										<div ng-show="kolom.guru">
											<div class="row" ng-show="kolom.ruang">
												<div class="col-xs-12 ruangan" style="background-color:{{kolom.bg_ruang}}">
													{{kolom.ruang}}
												</div>
											</div>
											<div class="row">
												<div
													class="col-xs-6"
													title="{{kolom.mapel}}"
													style="background:{{kolom.bg_mp}}">
													{{kolom.kode_mapel}}
												</div>
												<div
													class="col-xs-6" title="{{kolom.guru}}"
													style="background:{{kolom.bg_gr}}">
													{{kolom.kode_guru}}
												</div>
											</div>
										</div>
										{{kolom.kegiatan}}
									</td>
								</tr>
							</tbody>
						</table>
						</div>
				</div>
			</div>
		</div>

		<!-- Modal dialog - tambah jam -->
		<div class="modal" ng-class="{show : SettingDefault.modal_tambah_jam}" id="tambahjam">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="SettingDefault.modal_tambah_jam = false"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Tambah Jam</h4>
					</div>
					<form name="FormTambahJam" ng-submit="!jam_valid() && FormTambahJam.$valid && SubmitJam()">
					<div class="modal-body">
							<div class="row">
								<div class="col-xs-6 modal-tambah-jam">
									<div class="form-group">
									<label for="select_hari">Hari</label>
										<select id="select_hari" class="form-control" ng-change="changeHari()" ng-model="form_hari" ng-options="form_hari as form_hari for form_hari in SettingDefault.hari"></select>
									</div>
								</div>
								<div class="col-xs-3 modal-tambah-jam">
									<div class="form-group" ng-class="{'has-error' : FormTambahJam.jamStart.$error.required || jam_valid()}">
										<label for="jam">Jam Mulai</label>
										<input id="jam" type="text" class="form-control" ng-model="form_jam" ng-change="jam_valid()" name="jamStart" placeholder="HH:mm" required/>
										<span class="error" ng-show="FormTambahJam.jamStart.$error.required">Required!</span><br ng-show="FormTambahJam.jamStart.$error.required"/>
										<span class="error" ng-show="jam_valid()">Format jam tidak valid!</span>
									</div>
								</div>
								<div class="col-xs-3 modal-tambah-jam">
									<div class="form-group" ng-class="{'has-error' : FormTambahJam.durasi.$error.required || FormTambahJam.durasi.$error.number}">
										<label for="durasi">Durasi (menit)</label>
										<input type="number" name="durasi" ng-change="durasi_valid()" ng-model="form_durasi" class="form-control" id="durasi" required/>
										<span class="error" ng-show="FormTambahJam.durasi.$error.required">Required!</span><br ng-show="FormTambahJam.durasi.$error.required"/>
										<span class="error" ng-show="FormTambahJam.durasi.$error.number">Bukan angka!</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6 modal-tambah-jam">
									<div class="form-group">
										<label for="labelEvent">Label Event</label>
										<input type="text" class="form-control" ng-model="form_event" id="labelEvent" placeholder="mis. Upacara, Istirahat">
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" ng-click="SettingDefault.modal_tambah_jam = false" value="Keluar"/>
						<input type="submit" class="btn btn-success" value="Tambah Jam"/>
					</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!--Modal Update Data-->
		<div class="modal" ng-class="{show : SettingDefault.modal_update_data}" id="tambahjam">
			<div class="modal-dialog update">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="SettingDefault.modal_update_data = false"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Pilihan Pengaturan Import</h4>
					</div>
					<form name="updateData" ng-submit="SubmitUpdate()">
						<div class="modal-body">
							<div class="row">
								<div class="input-group">
									<label for="semua">
										<input type="radio" id="semua" ng-model="opt_update" value="all"/> Update Data
									</label>
									<label for="timpa">
										<input type="radio" id="timpa" ng-model="opt_update" value="deleteAll"/> Hapus data sebelumnya
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" ng-click="SettingDefault.modal_update_data = false" value="Keluar"/>
							<input type="submit" class="btn btn-success" value="OK"/>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal update data -->
		<div class="loading"></div>
	</body>
</html>