
@font-face {
	font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
	font-family: Roboto, sans-serif;
	background:;
	position: relative;
	font-weight:400px;
}

.header_top {
	background: none repeat scroll 0 0 #EFEFEF;
}
.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
	font-size: 12px;
	color: #696763;
	font-family: Roboto, sans-serif;
}
.contactinfo ul li a:hover{
	background:inherit;
}
/* ICONS SOSIAL MEDIA */

.social-icons ul li a {
	border: 0 none;
	border-radius: 0;
	color: #696763;
	padding:0px;
}


.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
	padding: 11px 15px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
	color: #fff;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#D03127;
}
.fa-upi:hover {
	background: #0083C9;
}

.fa-jabar:hover  {
	background:#5BBCEC;
}

.fa-instagram:hover  {
	background:#9E461D;
}




.header-middle .container .row {
	border-bottom: 1px solid #f5f5f5;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-middle .container .row .col-sm-4{
	padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}


.header-bottom {
	padding-bottom: 0px;
	padding-top: 15px;
}
.navbar-toggle {
    background-color: #D03127;
}
.navbar-header .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-collapse.collapse{
	padding-left: 0;
}
.mainmenu ul li{
	padding-right: 15px;
	padding-left: 15px;
}

.mainmenu ul li:first-child{
	padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.login-form {
	padding-bottom:26px;
}

.signup-form {

}

.login-form h2, .signup-form h2 {
	color: #696763;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 18px;
}

.login-form form input, .signup-form form input {
	background: #F0F0E9;
	border: medium none;
	color: #696763;
	display: block;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}
.login-form form span{
	line-height: 25px;
}
.login-form form span input {
	width: 15px;
	float: left;
	height: 15px;
	margin-right: 5px;
}

.login-form form button {
	margin-top: 23px;
}

.login-form form button, .signup-form form button {
	background: #D03127;
	border: medium none;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-family: Roboto, sans-serif;
	padding: 6px 25px;
}
.or{
	background: #D03127;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}

#footer {
	background: #EFEFEF;
}

.footer-top .container {
	padding-bottom: 20px;
}
.logoinfo {
	margin-top: 57px;
 
	font-family: "Roboto",sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px 15px 30px;
    text-transform: uppercase;
    position: relative;
}

.logoinfo p {
	color: #B3B3AD;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-weight: 300;
}

.footer-bottom {
	background: #D6D6D0;
	padding-top: 6px;
	padding-bottom: 0px;
}

.footer-bottom p {
	color: #363432;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	margin-left: 15px;
}
.p-main{
	margin:10px -1000px -10px 0px;
}

a#scrollUp {
	bottom: 0px;
	right: 10px;
	padding: 5px 10px;
	background: #FE980F;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
}

a#scrollUp i{
	font-size: 30px;
}

.searchform button {
    background: none repeat scroll 0% 0% #D03127;
    border: medium none;
    border-radius: 0px;
    margin-left: -5px;
    margin-top: -5px;
    padding: 6px 17px;
}
.panel-yellow .panel-heading {
    border-color: #F0AD4E;
    color: #FFF;
    background-color: #F0AD4E;
}
.panel-red .panel-heading {
    border-color: #D9534F;
    color: #FFF;
    background-color: #D9534F;
}
.panel-green .panel-heading {
    border-color: #439034;
    color: #FFF;
    background-color: #439034;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
}
.user_info input, select, textarea {
    background: none repeat scroll 0% 0% #F0F0E9;
    border: 0px none;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    resize: none;
}

.photos li   
{  
	float: left;  
	display: block;  
	position: relative;  
	list-style-type: none;                 
	margin: 10px;   
 
	height: 100px;  
	width: 100px;  
} 

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(image/about.jpg) no-repeat;
}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}
	
#content
{
	width: 900px;
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
.page
{
	float: right;
	margin: 0;
	padding: 0;
}
.page li
{
	list-style: none;
	display:inline-block;
}
.page li a, .current
{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.current
{
	font-weight:bold;
	color: #337AB7;
}
.button
{
	padding: 5px 15px;
	text-decoration: none;
	background: #333;
	color: #F3F3F3;
	font-size: 13PX;
	border-radius: 2PX;
	margin: 0 4PX;
	display: block;
	float: left;
}

.control-carousel {
	position: absolute;
	top: 50%;
	font-size: 60px;
	color: #C2C2C1;
}

.control-carousel:hover{
	color: #D03127 ;
}

.right {
	right: 0;
}
.bg-container{
	background:url(../image/banner3.png);
}
.carousel-indicators li {
    background: none repeat scroll 0% 0% #C4C4BE;
}

.carousel-indicators li.active {
    background: none repeat scroll 0% 0% #4A8F13;
}

.margin-cart i {
    margin-right: 5px;
	position:relative;
}
.a-grey{
	color:grey;
}
.p-baru {
    position: absolute;
    top: 0px;
    right: 0px;
}
.my-bg{
background-color:#1D5399;
padding-bottom:20px;
}
.my-bg-2{
background-color:#3564A1;
color:#fff;

}
.my-margin{
margin-top:20px;

}
h2.judul {
    color: #D03127;
    font-family: "Roboto",sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px 15px 30px;
    text-transform: uppercase;
    position: relative;
}
.features-grid h3{
   font-size: 18px;
   color: #000;
   margin: 0.5em 0 1em;
}
.features-grid p{
   font-size: 13px;
   color: #555;
   line-height:1.5em;
}
.padding_10{
	padding-left:30px;
}

.bg_judul{
	padding-top:5px;
	padding-bottom:5px;
	background-color:#3564A1;
	color:#fff;
	font-size:20px;
	text-align:center;
	margin-top:30px;
}

.color-white{
  color:#fff;
}

.my_bg3{
background-color:E6E6E6;
padding-bottom:20px;
}
}