

#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 2px solid #444;
  position: relative;
  bottom: 0;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #eee;
  position: absolute;
  top: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: rgba(255, 255,255, 0);
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
  border-bottom:2px solid #444;
  border-left:2px solid #444;
}
#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 25px;
  margin-left: 15px;
  background-color: #D03127;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
   background-color: #BD3636;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: #E04A4A;
  content: attr(data-percentage) 'Buah';
  position: relative;
  bottom: 20px;
  left:-10px;
}
#chart #bars li span {
transform: rotate(0deg);
	transform-origin: left top 0;
  color: #D70404;
  width: 100%;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  font-size: 10px;
  text-align: center;
}

SUMBER CHARTS : http://codepen.io/CreativePunch/pen/AekEC 