/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Global Styles */

 ::-webkit-scrollbar {
 	height: 7px;
 	overflow: visible;
 	width: 9px;
 }

 ::-webkit-scrollbar-button {
 	height: 0;
 	width: 0;
 }

 ::-webkit-scrollbar-track {
 	background-clip: padding-box;
 	background-color: rgba(0,0,0,.05);
 	border: solid transparent;
 	border-width: 0 0 0 5px;
 }

 ::-webkit-scrollbar-track:horizontal {
 	border-width: 5px 0 0;
 }

 ::-webkit-scrollbar-thumb {
 	background-color: rgba(255, 255, 255, 0.5);
 	background-clip: padding-box;
 	border: solid transparent;
 	border-width: 2px 2px 2px 2px;
 	min-height: 70px;
 	padding: 100px 0 0;
 	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
 }

 ::-webkit-scrollbar-thumb:horizontal {
 	border-width: 1px 1px 1px;
 	padding: 0 0 0 100px;
 	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);
 }

 ::-webkit-scrollbar-thumb:hover {
 	background-color: rgba(255, 255, 255, 0.5);
 	box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
 }

 ::-webkit-scrollbar-thumb:active {
 	background-color: rgba(255, 255, 255, 0.6);
 	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
 }

 ::-webkit-scrollbar-corner {
 	background: transparent;
 }

 html, body{
 	margin: 0;
 	padding: 0;
 	height: 100%;
 }

 body {
 	background-color: #081818;
 	text-shadow : 0 1px 1px #000;
 	-webkit-user-select: none;
 	-moz-user-select: -moz-none;
 	-ms-user-select: none;
 	user-select: none;
 }

 #wrapper {
 	padding-left: 0;
 }

 #page-wrapper {
 	width: 100%;
 	padding: 0;
 	background-color: #fff;
 }

 .huge {
 	font-size: 50px;
 	line-height: normal;
 }

 /* Top Navigation */

 .top-nav {
 	padding: 0 15px;
 }

 .top-nav>li {
 	display: inline-block;
 	float: left;
 }

 .top-nav>li>a {
 	padding-top: 15px;
 	padding-bottom: 15px;
 	line-height: 20px;
 	color: #999;
 }

 .top-nav>li>a:hover,
 .top-nav>li>a:focus,
 .top-nav>.open>a,
 .top-nav>.open>a:hover,
 .top-nav>.open>a:focus {
 	color: #fff;
 	background-color: #000;
 }

 .top-nav>.open>.dropdown-menu {
 	float: left;
 	position: absolute;
 	margin-top: 0;
 	border: 1px solid rgba(0,0,0,.15);
 	border-top-left-radius: 0;
 	border-top-right-radius: 0;
 	background-color: #fff;
 	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
 	box-shadow: 0 6px 12px rgba(0,0,0,.175);
 }

 .top-nav>.open>.dropdown-menu>li>a {
 	white-space: normal;
 }

 ul.message-dropdown {
 	padding: 0;
 	max-height: 250px;
 	overflow-x: hidden;
 	overflow-y: auto;
 }

 li.message-preview {
 	width: 275px;
 	border-bottom: 1px solid rgba(0,0,0,.15);
 }

 li.message-preview>a {
 	padding-top: 15px;
 	padding-bottom: 15px;
 }

 li.message-footer {
 	margin: 5px 0;
 }

 ul.alert-dropdown {
 	width: 200px;
 }

 .side-nav>li>ul {
 	padding: 0;
 }

 .side-nav>li>ul>li>a {
 	display: block;
 	padding: 10px 15px 10px 38px;
 	text-decoration: none;
 	color: #999;
 }

 .side-nav>li>ul>li>a:hover {
 	color: #fff;
 }

 /* Flot Chart Containers */

 .flot-chart {
 	display: block;
 	height: 400px;
 }

 .flot-chart-content {
 	width: 100%;
 	height: 100%;
 }

 /* Custom Colored Panels */

 .huge {
 	font-size: 40px;
 }

 .panel-green {
 	border-color: #5cb85c;
 }

 .panel-green .panel-heading {
 	border-color: #5cb85c;
 	color: #fff;
 	background-color: #5cb85c;
 }

 .panel-green a {
 	color: #5cb85c;
 }

 .panel-green a:hover {
 	color: #3d8b3d;
 }

 .panel-red {
 	border-color: #d9534f;
 }

 .panel-red .panel-heading {
 	border-color: #d9534f;
 	color: #fff;
 	background-color: #d9534f;
 }

 .panel-red a {
 	color: #d9534f;
 }

 .panel-red a:hover {
 	color: #b52b27;
 }

 .panel-yellow {
 	border-color: #f0ad4e;
 }

 .panel-yellow .panel-heading {
 	border-color: #f0ad4e;
 	color: #fff;
 	background-color: #f0ad4e;
 }

 .panel-yellow a {
 	color: #f0ad4e;
 }

 .panel-yellow a:hover {
 	color: #df8a13;
 }

/*
Custom Style for Scheduler
*/

.error{
	font-size: 10px;
}

.panel{
	margin:0;
	border-radius: 0;
}

.kategori_mapel{
	color: #fff !important;
	background: #384848 !important;
	border-radius: 0 !important;
	border-color: transparent !important;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #2C3838!important;
	font-weight: bolder;
}

.panel-body{
	padding: 0;
	padding-left: 15px;
	margin-bottom: -1px;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}

.list-group-item.active>.badge{
	color: #fff;
}

.list-group-item {
	cursor: pointer;
	padding: 5px 10px 5px 20px;
}

.full{
	width: 100% !important;
}
.row{
	margin: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 2px;
	padding-left: 0;
}

.navbar-inverse {
	background: #203232;
	border-color: transparent; 
	margin: 0;
	border-radius: 0;
}

table#table-schedule {
	padding: 0;
	margin: 0;
	width: initial;
	min-width: initial;
	max-width: initial;
}
table#table-schedule th {
	background: #384848;
	border: 1px solid #222;
	color: #aaa;
	text-align: center;
	min-width: 120px;
	width: 120px;
	max-width: 120px;
	padding: 0;
	height: 32px;
	vertical-align: middle;
} 

table#table-schedule td {
	text-align: center;
	color: #fff;
	border: 1px solid #222;
	cursor: pointer;
	height: 81px;
	vertical-align: middle;
	transition: .2s;
}
table#table-schedule td:hover {
	background: rgba(203, 239, 239, 0.18);
}
table#table-schedule td.nohover {
	background: transparent;
}

table#table-schedule td div.row > .ruangan {
	background: #6309f1;
	border-radius: 4px 4px 0 0;
}

table#table-schedule td div.row > div.col-xs-6:first-child {
	border-top: none;
	border-radius: 0 0 0 4px;
}

table#table-schedule td div.row > div.col-xs-6:last-child {
	border-left: none;
	border-top: none;
	border-radius: 0 0 4px 0;
}

table#table-schedule td div.row > div {
	padding: 2px;
	border: 1px solid;
}

.jam,
.jamke {
	background: #222;
	text-align: center;
	border: none !important;
	vertical-align: middle !important;
	padding: 5px !important;
	width : 121px;
	max-width: 121px;
	min-width: 121px;
	transition: .2s;
	cursor: default !important;
}
.jam {
	padding-left: 15px !important;
	position: relative;
}

.jamke{
	width: 30px;
	min-width: 30px;
	max-width: 30px;
}
.jam a.hapus {
	visibility: hidden;
	position: absolute;
	top: 30px;
	left: 5px;
}
tr:hover .jam a.hapus {
	visibility: visible;
}

table#table-schedule tr:hover td.jam,
table#table-schedule tr:hover td.jamke {
	background: rgba(50, 50, 50, 0.5);
}

.table-striped>tbody>tr:nth-child(even) {
	background-color: #333;
}
.table-striped>tbody>tr:nth-child(odd) {
	background-color: #444;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
	border-top: 0;
}

.hari td {
	background: #586868;
	text-align: left !important;
	font-weight: bold;
	padding: 5px 5px !important;
	border-top: 0 !important;
	min-height: 32px !important;
	height: 32px !important;
	max-height: 32px !important;
}

.tab-content {
	padding: 0 0 20px 0;
	height: 100%;
	border-left: 2px solid #111;
}

.container-fluid {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 700px;
}

#page-wrapper {
	background: #202828;
	padding: 0;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #596B6B;
	background: #225454;
	color: #eee;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 1px 1px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 1px 1px inset;
	box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 1px 1px inset;
}
.tab-pane {
	background: #283840;
}

.list-group-item {
	background-color: #586868;
	border-top: 1px solid #7D9191;
	border-bottom: 1px solid #111;
	border-left: 1px solid #687676;
	border-right: 1px solid #666;
	color: white;
	margin-bottom: 0;
	padding-right: 35px;
	transition: .2s;
}

.list-group-item.selected:after {
	position: absolute;
	display: block;
	border-top: 20px solid #443514;
	border-right: 20px solid transparent;
	left: 0;
	content: "";
	top: 0;
	z-index: 101;
}
.list-group-item.selected {
	z-index: 1;
	background-color: #7E6F48 !important;
}

.collapse .list-group-item {
	background-color: #486464;
}
.collapse .list-group-item:last-child {
	margin-bottom: 1px;
}
.panel-body {
	background: #384848;
}

.badge {
	border-radius: 1px;
	background-color: #465656;
}
.list-group-item.active>.badge, 
.nav-pills>.active>a>.badge {
	background-color: #4C7474;
}
.list-group-item>.badge, 
.nav-pills>a>.badge {
	float: none;
	position: absolute;
	top: 6px;
	right: 12px;
}
.table>tbody+tbody {
	border-top: 1px solid #465656;
}

.btn {
	border-radius: 1px;
	text-shadow:rgba(0, 0, 0, 0.407843) 1px 1px 2px;
}
.btn-success {
	background-color: #225454;
	border: 1px solid #376767;
	border-bottom: 1px solid #124545;
	border-right: 1px solid #124545;
}
.btn-xs {
	border-radius: 1px;
	padding: 1px 5px;
	line-height: 20px;
	margin: 0 5px
}
.alert-outer {
	text-align: center;
	position: absolute;
	top: 3px;
	left: 100px;
	right: 100px;
	z-index: 9999;
	height: 0;
}
.alert {
	display: inline-block;
	text-shadow : 0 0 0;
}

.ruang-mapel-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #203232;
}

.modal-tambah-jam{
	padding-left: 15px;
	padding-right: 15px;
}

.timetable-wrapper {
	overflow: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px;
	background-image: url('../../img/calendar.png');
	background-color: #081818;
}

.modal {
	text-shadow: 0 0 0;
}

.modal-dialog {
	margin: 10em auto;
}

.modal-dialog.update {
	width: 350px !important;
}

.modal-dialog.update label{
	display: block;
}

.modal-header {
	padding-bottom: 11px;
	padding-bottom: 11px;
	background-color: rgb(88, 104, 104);
	border-bottom: 1px solid #657676;
}
.modal-content {
	border-radius: 0 0 3px 3px;
	border-left: 1px solid #445151;
	border-right: 1px solid #253030;
	border-bottom: 1px solid #6D7C7C;
	color:rgb(221, 221, 221);
	text-shadow:rgba(0, 0, 0, 0.407843) 1px 1px 2px;
	background-color:rgb(56, 72, 72);
	border-top:1px solid rgb(33, 44, 44);
	border-bottom:1px solid rgb(41, 55, 55);
}
.modal-body {
	color: rgb(221, 221, 221);
	text-shadow: rgba(0, 0, 0, 0.407843) 1px 1px 2px;
	background-color: rgb(56, 72, 72);
	border-top: 1px solid rgb(33, 44, 44);
	border-bottom: 1px solid rgb(41, 55, 55);
}
.modal-footer {
	border-top: 1px solid #657676;
	border-bottom: 1px solid #627373;
	background: #586868;
}

.caret{
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 5;
	color: #fff;
	cursor: pointer;
	border-top: 7px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.btn-kelas{
	border-left: none;
}

.btn-jurusan{
	padding: 0;
	border-top: none;
	border-right: none;
}

.btn-group-justified {
	border: 1px solid #0F1717;
	border-top: 2px solid #0F1717;
}

.btn-group-justified > .btn-group {
	float: none;
	display: table-cell;
	width: 1%;
}

.btn-group-justified > .btn-group > .dropdown-menu {
	width: 100%;
	text-shadow: 0 0 0;
}

.btn-group-justified .btn-default.active, .btn-group-justified .btn-default.active:hover{
border-bottom: 2px solid #376767;
border-top: 2px solid #124545;
border-left: 2px solid #124545;
border-right: 2px solid #376767;
background: #225454;
color: #eee;
}

.btn-group-justified .btn-default:hover {
	border-bottom: 2px solid #2A4545;
border-top: 2px solid #124545;
border-left: 2px solid #124545;
border-right: 2px solid #385A5A;
background: #0c3f3f;
color: #eee;
}

.btn-group-justified .btn-default{
	text-align: center;
	color: #888;
	border-radius: 0;
	background: #203232;
	margin: 0;
	transition: .2s;
	border-top: 2px solid rgb(45, 63, 63);
	border-left: 2px solid rgb(45, 63, 63);
	border-right: 2px solid rgb(25, 40, 40);
	border-bottom: 2px solid rgb(25, 40, 40);
}

.form-control{
	border: 2px solid transparent;
	padding: 6px 6px;
}

.loading {
	display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .9 ) url('../../img/loading.gif') 50% 50% no-repeat;
}

.disable{
	cursor: no-drop !important;
}

.highlight{
	background: rgba(71, 118, 118, 0.5);
}

.badge.kguru{
	position: initial;
	float: none;
}