﻿.sorting { 
	
	background: url('../img/icons/sort_neutral.png') no-repeat center left; 
	background-size: 8px;
	cursor: hand; 
	cursor: pointer;
}

.filter .row  {
	height:40px;
}

.filter .row > div  {
	position: relative;
	height:20px;
	padding-left: 5px;
	
	margin-top: -10px;
	padding-top: 0px;
	border: 0px;
	vertical-align: middle;
}

.filter .row label {
	float: left;
	width: 150px;
	padding: 13px 0px;
	margin-right: 0px;
	border-right: 1px solid #d2d2d2;
}

.filter .actions {
	padding: 8px;
	
	float: left;	
	width: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border: 1px solid #c1c1c1;
	border-radius: 0 0 2px 2px;
	background: url('../img/layout/content/box/actions-bg.png') #f0f1f4 repeat-x;
}

aside nav li > ul >li > ul,
aside nav li > ul >li > ul > li > ul {
	position: absolute;
	display: block !important;
	top: 0;
	left: 100%;
	z-index: 100;
	min-width: 180px;
	border: 1px solid #bbb;

	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}
aside nav li > ul > li > ul:hover,
aside nav li > ul > li:hover > ul,
aside nav li > ul > li > ul > li > ul:hover,
aside nav li > ul > li > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=1);
}

aside nav > ul > li > a:hover, 
aside nav > ul > li.current> a:hover {
	background-image:-webkit-linear-gradient(90deg,rgb(54,93,143) 0%,rgb(90,154,237) 100%) !important;
	background-image:-moz-linear-gradient(90deg,rgb(54,93,143) 0%,rgb(90,154,237) 100%) !important;
	background-image:-o-linear-gradient(90deg,rgb(54,93,143) 0%,rgb(90,154,237) 100%) !important;
	background-image:-ms-linear-gradient(90deg,rgb(54,93,143) 0%,rgb(90,154,237) 100%) !important;
}

aside nav > ul > li > a, 
aside nav > ul > li > a:visited {
	background-image:-webkit-linear-gradient(90deg,rgb(235,237,240) 0%,rgb(255,255,255) 100%) !important;
	background-image:-moz-linear-gradient(90deg,rgb(235,237,240) 0%,rgb(255,255,255) 100%) !important;
	background-image:-o-linear-gradient(90deg,rgb(235,237,240) 0%,rgb(255,255,255) 100%) !important;
	background-image:-ms-linear-gradient(90deg,rgb(235,237,240) 0%,rgb(255,255,255) 100%) !important;
	padding: 8px 10px 8px 35px !important;
	line-height: 20px !important;
}
aside nav > ul > li a, 
aside nav > ul > li a:visited {
	z-index: 10;
}
aside nav > ul > li > ul > li a.with_sub:after {
	content: '▸';
	font-size: 14px;
	color: #999;
}
aside nav > ul > li > ul > li:hover a.with_sub:after {
	color: #345478;
}
aside nav > ul > li > ul a {
	padding: 3px 10px 0 19px !important;
}
aside nav > ul > li > a > img {
	position: absolute;
	left: 10px;
	top: 10px;
}
aside nav a.with_sub:after {
	top: 7px !important;
}

.lunas {
	background-color:green !important;
	color:white !important;
}

.tunggak {
	background-color:red !important;
	color:white !important;
}

.logo-sekolah {
	position: absolute;
	right: 10px;
	top: 45px;
}
.radius-border {
	border: 10px solid #D7D7D7;
	border-radius: 7px;

}

.radius-border2 {
	border: 8px solid #D7D7D7;
	border-radius: 3px;

}
.grid4_5{
display: inline;
float: left;
position: relative;
margin-left: 1%;
margin-right: 1%;
}